.contentlogin {
  background-image: url("../../../assets/img/fondo.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;
}

.container{
  margin-left: 8% !important;
}
.form-control{
  border-radius: 1.25rem !important;
}
.form-group{
  margin-bottom: 15px;
}

.card {
  border-radius: 1.5rem;
  margin-top: 10%;
  margin-bottom: auto;
  width: 450px;
  background-color: rgba(0,0,0,0.3) !important;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #FFC312;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3, h1,h2 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #FFC312;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: #fff;
  background-color: #539332;
  width: 100%;
  border-radius: 1rem !important;
  font-weight:bold !important;


}
.inputlogin{
  background: transparent !important;
  color: #fff;
}

.login_btn:hover {
  color:  black;
  background-color: #AEFDF4;
}

.links {
  color: white;
  font-weight: bold;
}

.links a {
  margin-left: 4px;
}
