<div class="col-md-12 contentlogin" >
  <div class="container" >
    <div class="d-flex ">
      <div class="card" >

        <div class="card-header">
          <h1 style="font-weight: bold;" >Iniciar sesión</h1>

        </div>
        <div class="card-body">

          <div class="form-group" style="color: white; font-size: 15px;">
            <p class="links">Usuario</p>
          </div>
          <div class="input-group form-group">

            <input id="txtUsuario" type="text" class="form-control inputlogin" placeholder="ingrese su usuario"  >
          </div>
          <div class="form-group" style="color: white; font-size: 15px;">
            <p class="links">Contraseña </p>
          </div>
          <div class="input-group form-group">
            <input id="txtClave" type="password" class="form-control inputlogin" placeholder="ingrese su contraseña" >
          </div>
          <div class="form-group">
            <a class="links"> ¿Olvidaste tu contraseña? </a>
          </div>
          <div class="form-group">
            <input type="button" id="btnLogin" routerLink="/mcsniffs/inicio"  value="Iniciar sesión" class="btn login_btn" >

          </div>
          <div class="form-group">

            <input type="button" id="btnLogin" value="Público en general" class="btn login_btn" >
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


