:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 1rem;
  }
}
.logo {
  text-align: center;
  padding: 0 1rem;
}

button {
  outline: none;
  border: 0;
  background: transparent;
  color:#788292;
}
.mat-divider {
  border-top-width: 2px;
  border-color: white;
}
.mat-list-item {
  color: #4A962C!important;
  font-size: 0.8rem;
  height: 44px !important;
  margin-bottom: 4px;
  &:hover {
    color: white !important;
  }
  ::ng-deep {
    .mat-list-item-content {
      border-radius: 5px;
      margin: 0 8px;
      &:hover {
        background: #4A962C !important;
      }
    }
  }
}
.list-item-active {
  // background: blue !important;
  // border-radius: 0 2rem 2rem 0;
  // &:hover {
  //   background: blue;
  // }

  color: #f2f5f7 !important;
  ::ng-deep {
    .mat-list-item-content {
      background: #4A962C !important;
      &:hover {
        background: #4A962C !important;
      }
    }
  }
}
.mat-subheader {
  color: #818cf8;
  font-size: 0.6rem;
  font-weight: 100;
  letter-spacing: 1px;
}





ul {
  li {
    list-style: none;
  }
}

mat-toolbar {
  background: #f7f7f7;
}


.user {
  font-size: 14px;
}
.user-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  &-icon {
    height: 18px;
    font-size: 16px;
  }
}

::ng-deep {
  .mat-menu-content {
    width: 160px;
  }
}
