<div class="container-fluid page">
  <div class="page__content  position-relative">
    <div class="page__content-data position-absolute">
      Dashboard Content Goes Here
    </div>
  </div>
</div>
