.page {
  color: white;
  background: #EDF4EA;
  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 0 0 30px 30px;
    margin-top: -2rem;
    background: white;
    color: black;
    font-size: 2rem;
    &-data {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
}
mat-drawer-container {
  height: 100%;
}

mat-drawer {
  background: #EDF4EA;
  border: 0;
}

.mat-drawer-container{
  background: #EDF4EA !important;
}
