
<div class="container-fluid page mt-3 ">
<mat-toolbar class="header">
  <mat-toolbar-row class="">
    <button mat-icon-button (click)="toggleSidebar()" style="margin-right: 20px">
      <mat-icon>menu</mat-icon>
    </button>
    <a class=" navbar-brand  d-md-inline-block ml-2 ">
      <img src="assets/img/ministerio-agricultura-serfor.png" style="width: 380px"  />
    </a>
  </mat-toolbar-row>
</mat-toolbar>
</div>
